<div class="card mt-4">
  <div class="card-header text-center">
    <strong>ASCII</strong>
  </div>
  <div class="card-body overflow-auto">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col" *ngFor="let item of generateKeys();">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let item of generateValues();">
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
