<div class="navi sticky-top">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="codification-tab" data-bs-toggle="tab" data-bs-target="#codification"
        type="button" role="tab" aria-controls="home" aria-selected="true">Codificación</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="decodification-tab" data-bs-toggle="tab" data-bs-target="#decodification"
        type="button" role="tab" aria-controls="home" aria-selected="true">Decodificación</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <button class="nav-link" id="blind-tab" data-bs-toggle="tab" data-bs-target="#blind"
        type="button" role="tab" aria-controls="home" aria-selected="true">Busqueda ciega</button>
    </li> -->
  </ul>

</div>
<div class="container mt-5 mb-5">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="codification" role="tabpanel" aria-labelledby="codification">
      <app-form (generateFunction)="generateFunction($event)" [operation]="'codification'" [title_button]="'Codificar'">
      </app-form>
      <app-text [title]="'TEXTO'" [text]="codificacionService.codification.text"></app-text>
      <app-tables-inter-seg [codificacionService]="codificacionService"></app-tables-inter-seg>
      <app-table [codificacionService]="codificacionService"></app-table>
      <app-text [title]="'TRAMA'" [text]="codificacionService.getPlot()" [plot]="true">
      </app-text>
    </div>
    <div class="tab-pane fade" id="decodification" role="tabpanel" aria-labelledby="decodification">
      <app-form (generateFunction)="generateFunction($event)" [operation]="'decodification'"
        [title_button]="'Decodificar'"></app-form>
      <app-text [title]="'TEXTO'" [text]="decodificacionService.codification.text"></app-text>
      <app-card-table [title]="'INFORMACION'" [keys]="decodificacionService.selectKeysMethod('get_info')"
        [values]="decodificacionService.selectValuesMethod('get_info')"></app-card-table>
      <!-- <app-tables-inter-seg [codificacionService]="decodificacionService"></app-tables-inter-seg>
        <app-table [codificacionService]="decodificacionService" ></app-table> -->
    </div>
  </div>
</div>

<div class="fixed-bottom m-2" *ngIf="show_time()" style="width: 325px;">
  <div class="alert alert-danger d-flex align-items-center rounded rounded-pill " role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch-fill "
      viewBox="0 0 16 16">
      <path
        d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z" />
    </svg>
    <div class="pl-1">
      Tiempo de ejecución: {{time() | number:'1.0-5'}} seg
    </div>
    <button type="button" class="btn-close pl-3" data-bs-dismiss="alert" (click)="hide()"></button>
  </div>
</div>
