<div class="card mt-4">
  <div class="card-header text-center">
    <strong>TRAMA</strong>
  </div>
  <div class="card-body overflow-auto">
        <table class="table table-bordered border-dark text-center rounded-3">
          <tbody>
            <tr class="fw-bold">
              <td><h5>Longitud de la cadena</h5></td>
              <td><h5>Símbolo codificado</h5></td>
              <td><h5>Cantidad</h5></td>
              <td><h5>Posiciones</h5></td>
            </tr>
          </tbody>
        </table>
    <div class="mt-2 overflow-auto" style="max-height: 500px;">
      {{getPlot()}}
    </div>
  </div>
</div>
