<div class="card mt-4 mb-4">
  <div class="card-header text-center">
    <strong>{{title}}</strong>
  </div>
  <div class="card-body overflow-auto">
    <div *ngIf="plot" class="card">
      <div class="card_body p-3 text-center">
        <h5>Longitud del mensaje | simbolo codificado | Cantidad de apariciones | [Posiciones] /</h5>
      </div>
    </div>
    <div class="overflow-auto m-2" style="max-height: 400px;">
      {{text}}
    </div>
    <div class="d-flex justify-content-end p-3">
      <button type="submit" class="btn btn-purple rounded rounded-pill text-white" [cdkCopyToClipboard]="text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
          <path
            d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
          <path
            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0Z" />
        </svg>
        Copiar texto
      </button>
      <button type="submit" class="btn btn-purple rounded rounded-pill text-white" (click)="download()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
          <path
            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z" />
        </svg>
        Descargar texto
      </button>
    </div>
  </div>
</div>
